/* Light mode (default) */
body.light {
    background-color: white;
    color: black;
  }
  /* Dark mode */
  body.dark {
    background-color: black;
    color: white;
  }
  button {
    padding: 4px 10px;
    /* margin: 20px; */
    font-size: 12px;
    font-weight: 700;
    background-color: aqua;
    border-radius: 25px;
    border: none;
  }
  